#__________________________________________________
# Example of configuration file for animating
#__________________________________________________

#__________________________________________________
# Tolerance value for testings 
EPSILON = 1.e-8

#__________________________________________________
# Animate single simulation or multiple simulations
# 0 -> single sim
# 1 -> multi  sim
singleOrMulti = 0

#__________________________________________________
# Figures output directory
figDir = ./

#__________________________________________________
# Movie writer
writerName      = ffmpeg
writerFPS       = 5
writerCodec     = 
writerBitrate   = 
writerExtraArgs = 

extension       = .mp4
extension       = .avi

#__________________________________________________
# FuncAnimation arguments
funcAnimArgs = blit : bool : true

#__________________________________________________
# Output directory and associated labels
# For multiple simulations, just duplicate these lines
# For single simulation, only the first line will be used 
outputDir = ./
label     = sim0
outputDir = ./
label     = sim1

#__________________________________________________
# Animate final state
# 0 -> False
# 1 -> True
animFinalState = 1

# Options for animating final state
animFinalState_prefixFigName        = finalState
animFinalState_transparencyFunction = customTransparency
animFinalState_Plotter              = imshow
animFinalState_Args                 = interpolation : str   : nearest
animFinalState_ArgsInit             = colors        : str   : k
animFinalState_ArgsInit             = linestyles    : str   : solid
animFinalState_ArgsInit             = linewidths    : float : 1.5
animFinalState_ArgsFinal            = colors        : str   : k
animFinalState_ArgsFinal            = linestyles    : str   : solid
animFinalState_ArgsFinal            = linewidths    : float : 1.5
animFinalState_colorBar             = 1
animFinalState_cmapName             = jet
animFinalState_timeTextPBar         = 1
animFinalState_xLabel               = $x$
animFinalState_yLabel               = $y$
animFinalState_cLabel               = $f$
animFinalState_extendX              = 0.0
animFinalState_extendY              = 0.0
animFinalState_nbrXTicks            = 2
animFinalState_nbrYTicks            = 2
animFinalState_nbrCTicks            = 5
animFinalState_xTicksRound          = 1
animFinalState_yTicksRound          = 1
animFinalState_cTicksRound          = 2
animFinalState_order                = horizontalFirst
animFinalState_extendDirection      = vertical