#__________________________________________________
# Example of configuration file for animating
#__________________________________________________

#__________________________________________________
# Tolerance value for testings 
EPSILON = 1.e-8

#__________________________________________________
# Animate single simulation or multiple simulations
# 0 -> single sim
# 1 -> multi  sim
singleOrMulti = 0

#__________________________________________________
# Figures output directory
figDir = ./

#__________________________________________________
# Movie writer
writerName      = ffmpeg
writerFPS       = 5
writerCodec     = 
writerBitrate   = 
writerExtraArgs = 

extension       = str : .mp4
extension       = str : .avi

#__________________________________________________
# FuncAnimation arguments
funcAnimArgs = blit : bool : true

#__________________________________________________
# Output directory and associated labels
# For multiple simulations, just duplicate these lines
# For single simulation, only the first line will be used 
outputDir = str : ./
label     = str : sim0
outputDir = str : ./
label     = str : sim1

#__________________________________________________
# Animate final state
animFinalState = True

# Options for animating final state
animFinalState_prefixFigName        = finalState_
animFinalState_transparencyFunction = customTransparency
animFinalState_plotter              = imshow
animFinalState_args                 = interpolation : str   : nearest
animFinalState_argsInit             = colors        : str   : k
animFinalState_argsInit             = linestyles    : str   : solid
animFinalState_argsFinal            = colors        : str   : k
animFinalState_argsFinal            = linestyles    : str   : solid
animFinalState_colorBar             = True
animFinalState_cmapName             = jet
animFinalState_timeTextPBar         = True
animFinalState_xLabel               = $x$
animFinalState_yLabel               = $y$
animFinalState_cLabel               = $f$
animFinalState_extendX              = 0.0
animFinalState_extendY              = 0.0
animFinalState_nbrXTicks            = 2
animFinalState_nbrYTicks            = 2
animFinalState_nbrCTicks            = 5
animFinalState_xTicksDecimals       = 1
animFinalState_yTicksDecimals       = 1
animFinalState_cTicksDecimals       = 2
animFinalState_order                = horizontalFirst
animFinalState_extendDirection      = horizontal
