#__________________________________________________
# Example of configuration file for plotting
#__________________________________________________

#__________________________________________________
# Tolerance value for testings 
EPSILON = 1.e-8

#__________________________________________________
# Plot single simulation or multiple simulations
# 0 -> single sim
# 1 -> multi  sim
singleOrMulti = 0

#__________________________________________________
# Figures output directory
figDir = ./

#__________________________________________________
# Extension for figures
# You may want to try more than one extension
# in that case, just duplicate this line
extension = .pdf
extension = .eps

#__________________________________________________
# Output directory and associated labels
# For multiple simulations, just duplicate these lines
# For single simulation, only the first line will be used 
outputDir = ./
label     = sim0
outputDir = ./
label     = sim1

#__________________________________________________
# Plot analyse
# 0 -> False
# 1 -> True
plotAnalyse = 1

# Defining plotSubplots
plotSubplotsFunctionName = customPlotSubplots
prefixFigNameAnalyse     = analyse

# Arguments for definining plotSubplots
plotSubplotsFunctionArgs = iterOrTime : str  : iterations
plotSubplotsFunctionArgs = xScale     : str  : log
plotSubplotsFunctionArgs = yScale     : str  : log
plotSubplotsFunctionArgs = grid       : bool : True

#__________________________________________________
# Plot final state
# 0 -> False
# 1 -> True
plotFinalState = 1

# Options for plotting final state
plotFinalState_prefixFigName        = finalState
plotFinalState_transparencyFunction = customTransparency
plotFinalState_Plotter              = imshow
plotFinalState_Args                 = interpolation : str   : nearest
plotFinalState_ArgsInit             = colors        : str   : k
plotFinalState_ArgsInit             = linestyles    : str   : solid
plotFinalState_ArgsInit             = linewidths    : float : 1.5 
plotFinalState_ArgsFinal            = colors        : str   : k
plotFinalState_ArgsFinal            = linestyles    : str   : solid
plotFinalState_ArgsFinal            = linewidths    : float : 1.5 
plotFinalState_colorBar             = 1
plotFinalState_cmapName             = jet
plotFinalState_timeTextPBar         = 1
plotFinalState_xLabel               = $x$
plotFinalState_yLabel               = $y$
plotFinalState_cLabel               = $f$
plotFinalState_extendX              = 0.0
plotFinalState_extendY              = 0.0
plotFinalState_nbrXTicks            = 2
plotFinalState_nbrYTicks            = 2
plotFinalState_nbrCTicks            = 5
plotFinalState_xTicksRound          = 1
plotFinalState_yTicksRound          = 1
plotFinalState_cTicksRound          = 2
plotFinalState_order                = horizontalFirst
plotFinalState_extendDirection      = vertical




