#__________________________________________________
#__________________________________________________

# Copyrigth 2016 A. Farchi and M. Bocquet
# CEREA, joint laboratory Ecole des Ponts ParisTech and EDF R&D

# Code for the paper: Using the Wasserstein distance to compare fields of pollutants:
# Application to the radionuclide atmospheric dispersion of the Fukushima-Daiichi accident
# by A. Farchi, M. Bocquet, Y. Roustan, A. Mathieu and A. Querel

#__________________________________________________

#__________________________________________________
#__________________________________________________
# Example of configuration file for animating
#__________________________________________________

#__________________________________________________
# Tolerance value for testings 
EPSILON = 1.e-8

#__________________________________________________
# Animate single simulation or multiple simulations
singleOrMulti = single

#__________________________________________________
# Figures output directory
figDir = ./

#__________________________________________________
# Movie writer
writerName      = ffmpeg
writerFPS       = 5
writerCodec     = 
writerBitrate   = 
writerExtraArgs = 

extensions      = str : .mp4
extensions      = str : .avi

#__________________________________________________
# FuncAnimation arguments
funcAnimArgs = blit : bool : true

#__________________________________________________
# Output directory and associated labels
# For multiple simulations, just duplicate these lines
# For single simulation, only the first line will be used 
outputDirList = str : ./
labelList     = str : sim0
outputDirList = str : ./
labelList     = str : sim1

#__________________________________________________
# Animate final state
animFinalState = True

# Options for animating final state
animFinalState_prefixFigName        = finalState_
animFinalState_transparencyFunction = customTransparency
animFinalState_plotter              = imshow
animFinalState_args                 = interpolation : str   : nearest
animFinalState_argsInit             = colors        : str   : k
animFinalState_argsInit             = linestyles    : str   : solid
animFinalState_argsFinal            = colors        : str   : k
animFinalState_argsFinal            = linestyles    : str   : solid
animFinalState_colorBar             = True
animFinalState_cmapName             = jet
animFinalState_timeTextPBar         = True
animFinalState_xLabel               = $x$
animFinalState_yLabel               = $y$
animFinalState_cLabel               = $f$
animFinalState_extendX              = 0.0
animFinalState_extendY              = 0.0
animFinalState_nbrXTicks            = 2
animFinalState_nbrYTicks            = 2
animFinalState_nbrCTicks            = 5
animFinalState_xTicksDecimals       = 1
animFinalState_yTicksDecimals       = 1
animFinalState_cTicksDecimals       = 2
animFinalState_order                = horizontalFirst
animFinalState_extendDirection      = horizontal

#__________________________________________________
# Trianim final state
trianimFinalState = True

# Options for trianimating final state
trianimFinalState_prefixFigName          = finalState_tri_
trianimFinalState_plotter                = imshow
trianimFinalState_args                   = interpolation : str   : nearest
trianimFinalState_colorBar               = True
trianimFinalState_cmapName               = jet
trianimFinalState_timeTextPBar           = True
trianimFinalState_xLabel                 = $x$
trianimFinalState_yLabel                 = $y$
trianimFinalState_cLabel                 = $f$
trianimFinalState_extendX                = 0.0
trianimFinalState_extendY                = 0.0
trianimFinalState_nbrXTicks              = 2
trianimFinalState_nbrYTicks              = 2
trianimFinalState_nbrCTicks              = 5
trianimFinalState_xTicksDecimals         = 1
trianimFinalState_yTicksDecimals         = 1
trianimFinalState_cTicksDecimals         = 2
trianimFinalState_order                  = horizontalFirst
trianimFinalState_extendDirection        = vertical
trianimFinalState_extendDirectionTrianim = horizontal

#__________________________________________________
